body{
    background-color: #171420;
}
img.hidden {
    display: none;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1000px;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}